<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="script.js"></script>
         <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!-- bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- animation-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
      </head>
<body>

  <!-- Navbar -->
  <div id="navbar2">
    <div class="logo2">
        <h4 class="logohead2"><a href="{% url 'front' %}">Test Site Only</a></h4>
    </div>
    <ul class='nav-links2'>
        <li>
            <a href="{% url 'front' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'about' %}">Search</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Profile</a>
        </li>
        <li>
            <a href="{% url 'post-create' %}">Create Post</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
  </div>

  <!-- Nav background/items -->

  <div id="navbackground">

    <div id="container">
        <!-- Item 1 -->
        <div class="box" id="firstnavimage" >
          <img class="animate__animated animate__fadeInLeftBig animate__slow animate__delay-2s" src="vector-creator4.png">
        </div>
        <!-- Item 2 -->
        <div class="box" id="nav-h1">
          <h1 class="navdescriptionfirst animate__animated animate__fadeInDown ">Post</h1>
          <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Find</h1>
          <h1 class="animate__animated animate__fadeInDown animate__delay-2s">Trade</h1>
        </div>
        <!-- Item 3 -->
        <div class="box" id="nav-signup">
          <div class="animate__animated animate__fadeInRightBig animate__slow animate__delay-2s" id="nav-signup-inner">
            <h1>SIGN UP</h1>
          </div>
        </div>
    </div>
    <!-- SVG IMAGE -->
    <img id="wave" src="wnecolor.png">
  </div>

   <!-- SIMPLE INTRO TO SITE -->
    <div id="simpleintro">
      <!-- first intro -->
      <div id="first-intro" class="intro-box">
        <div id="first-intro-description">
            <h2> Post the item you would like to trade along with the desired item you would trade for</h2>
        </div>
        <div id="first-intro-image">
          <img src="content-writing (1).png">
        </div>
      </div >
      <!-- second intro -->
      <div id="second-intro" class="intro-box">
        <div id="second-intro-image">
          <img src="neural.png">
        </div>
        <div id="second-intro-description">
          <h2> Post the item you would like to trade along with the desired item you would trade for</h2>
        </div>
      </div>
      <!-- third intro -->
      <div id="third-intro" class="intro-box">
        <div id="third-intro-description">
          <h2> Post the item you would like to trade along with the desired item you would trade for</h2>
        </div>
        <div id="third-intro-image">
          <img src="handshake.png">
        </div>
      </div>

    </div>

</body>
</html>
