:root {
    --color-one: #1f2833;
    --color-two: #66FCf1;
    --color-three: #0b0c10;
    --color-four: #c5c6c7;
    --color-five: #45a29e;
    --animate-delay: 0.9s;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    background-color: #f5f5f5 !important;
    width: 100%;
    
  }

  /* Navbar CSS */

  #navbar2 {
    display: flex;
    min-height: 5em;
    font-family: 'Acme', sans-serif;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: 1000ms ease;

  }

  #navbar2.scroll {
    background-color: var(--color-one);
    transition: 1000ms ease;
  }
  
  .nav-links2{
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    margin-left: 38vw;
    align-items: center;
  }
  
  .nav-links2 li{
    list-style: none;
    float: right;
  }
  
  .nav-links2 a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-two);
  }
  
  .logo2 h4 a {
    font-size: 1.25em;
    text-decoration: none;
    margin: 10px;
    color: var(--color-two);
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    letter-spacing: 5px;
  }
  
  .logohead2 {
    float: left;
    margin-left: 13vw;
    display: flex;
    font-weight: bold;
    padding-top: 1%;
  }

  /* Navbar items/background css */

  #navbackground {
    height: 100vh;
    background-color: #1f2833;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
  }

  #container {
    display: flex;
    padding-top: 10%;
    width: 100%;
  }
  
  .box {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .box:first-child > span { margin-right: auto; }

  .box:last-child  > span { margin-left: auto;  }

  
  #firstnavimage img {
    height: 75%;
    width: 80%;
    margin: auto;
    pointer-events: none;
  }

  #nav-h1 {
    flex-direction: column;
    z-index: 2;
  }

  #nav-h1 h1 {
    text-align: center;
    margin-top: 2%;
    font-family: 'Acme', sans-serif;
    font-size: 8em;
    font-weight: bold;
    --animate-delay: 0.9s;
    color: var(--color-two);
  }

/* SVG AND ANIMATIONS */
  #wave {
    width: 100%;
    height: 40%;
    left: 0;
    position: absolute;
    /* SVG AND ANIMATIONS animation: wave linear 40s infinite; */
    bottom: 0;
    z-index: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
 /* @keyframes wave {
    100% {
      transform: translateX(0)
    }
    0% {
      transform: translateX(-50%);
    }
  } */
 
  /* SIGN UP */

  #nav-signup {
    display: flex;
    align-items: flex-end;
  } 
  
  #nav-signup-inner {
    width: 40%;
    height: 20%;
    margin-bottom: 20%;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
    border-color: var(--color-two);
    z-index: 2;
    background-color: #16C79A;
    overflow: hidden;
    transition-duration: 1s;
  }

  #nav-signup-inner:hover {
    background-color: white;
    border-radius: 50px;
    color: black;
  }

  #nav-signup h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
  }

  #nav-signup h1:hover {
    color: black;
    transition-duration: 1s; 
  }
  
    /* Three step intro */

    #simpleintro {
      background-color: whitesmoke;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .intro-box {
      display: flex;
      margin-left: 10em;
      margin-right: 10em;
      overflow: hidden;
    }

    .intro-box-inner {
      flex: 1 1 0px;
      color: #f5f5f5;
      display: flex;
      justify-content: center;
      margin: auto;
    }

    .intro-box-inner-img {
      display: flex;
      justify-content: center;
    }

    #first-intro {
      background: linear-gradient(to right, #1f2833 50%, #f5f5f5);
    }

    #second-intro {
      background: linear-gradient(to left, #1f2833 50%, #f5f5f5);
    }

    #third-intro {
      background: linear-gradient(to right, #1f2833 50%, #f5f5f5);
    }

    .intro-box-inner-img img {
      height: auto;
      width: auto;
    }

    /*second image rotation*/

    .rotate {
      animation: rotation 75s infinite linear;
  
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    